<html>
<head>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <script type="text/javascript" src="index.js"> </script> 
    <script type="text/javascript" src="lol-match/lol-match.js"> </script>
    <script type="text/javascript" src="recent-summoners/recent-summoners.js"></script>
    
    <link rel="stylesheet" type="text/css" href="index.css"> </link>
</head>
<body ng-app="MyTest">        
    <div ng-controller="TestController" layout="row">
        
        <!-- Your card List -->
        <div layout="column" layout-align="center center">
            {{summoner}}
        <div class="cardwindow">
            
<!--        Summoner selection list-->
        <div class="card" ng-hide="gameState > -1">
              <md-input-container>
                  <label>Summoner Name</label>
                  <input  placeholder="Yours" ng-model="summoner">
              </md-input-container>

            <!-- show recent summoners you played against -->
            <recent-summoners></recent-summoners>
            
            <md-button ng-click="fetch_summonerInfo()" class="md-primary opponentSelection">Fetch List</md-button>
        </div>
                
        <div ng-repeat="card in myCards track by $index" ng-class="{'disabledTable':gameState==2}">
            <lol-match> </lol-match>
        </div>
        </div> <!-- cardwindow end -->
        </div> <!-- left part end -->
        
        <!-- This is the Text Area Div -->
        <div class="infoArea" layout="column">
            <div flex="30">
                <div ng-show="gameState > 0" style="text-align:center; font-weight:bold; width:100%;">
                    Round: {{round+1}} / 10 
                </div>
            </div>
            <div flex="70">
                <span ng-show="gameState == 0">
                    Waiting for your partner.
                </span>
                <span ng-show="gameState == 1">
                    Your turn
                </span>
                
                <span ng-show="gameState == 2">
                    {{enemy.name}}'s turn
                </span>
                <br>
                <span>
                    {{roundResult}}
                </span>
                
            </div>            
        </div>
        
        <!-- opponent Area -->
        <div layout="column" layout-align="center center">
            {{enemy.name}}
        <!-- gameState == CONFIG.ROUND_RESULT then show the card and do animation of the stat etc.-->
        <div class="cardwindow" ng-show="gameState > -1">
            <!-- enemy card details shown during the result phase -->
            <div class="card" ng-show="gameState == 3 || gameState == 2"> 
               <center> 
                   <img ng-src="http://lkimg.zamimg.com/shared/riot/images/champions/{{enemyCard.ch}}.png"> </img> 
                </center>
               <div class="row heading">  {{ champData.keys[enemyCard.ch] }}  </div>
            
                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Result </div>
                <div> {{ enemyCard.v? "Victory" : "Defeat" }} </div>
                </md-button>

                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Kills </div>
                <div> {{enemyCard.k}} </div>
                </md-button>

                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Deaths </div>
                <div> {{enemyCard.d}} </div>
                </md-button>

                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Assists </div>
                <div> {{enemyCard.a}} </div>
                </md-button>

                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Turrents </div>
                <div> {{enemyCard.tk}} </div>
                </md-button>

                <md-button class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Duration </div>
                <div> {{time_to_mins(enemyCard.time)}} Mins </div>
                </md-button>
            </div> <!-- end of enemy card details -->
        </div>
        </div>
        
    </div>
</body>
</html>
