<html>
<head>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <script type="text/javascript" src="index.js"> </script> 
    <script type="text/javascript" src="lol-match/lol-match.js"> </script>
    <script type="text/javascript" src="recent-summoners/recent-summoners.js"></script>
    
    <link rel="stylesheet" type="text/css" href="index.css"> </link>
</head>
<body ng-app="MyTest">
    <div ng-controller="TestController">
        
        <div class="cardwindow">
        <div class="card" ng-hide="gameState > -1">
              <md-input-container>
                  <label>Summoner Name</label>
                  <input  placeholder="Yours" ng-model="summoner">
              </md-input-container>

            <!-- show recent summoners you played against -->
            <recent-summoners></recent-summoners>
            
            <md-button ng-click="fetch_summonerInfo()" class="md-primary opponentSelection">Fetch List</md-button>
        </div>
        
        <div class="card" ng-hide="gameState > 0">
            Waiting for your partner.
        </div>

        <div ng-repeat="card in myCards track by $index">
            <lol-match > </lol-match>
        </div>
        </div>
        {{myRequest? showRequest() : console.log("wasaaa")}}
<!--        {{requests.length > 0? showRequest(0) : console.log("hello")}}-->
    </div>
</body>
</html>
