<html>
<head>
    <script type="text/javascript">        
        function SetColor(id, color){
            var element = document.getElementById(id);
            element.style.backgroundColor = color;
        }
        
        function ResetColor(id){
            var element = document.getElementById(id);
            element.style.backgroundColor = '';
        }
    </script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <script type="text/javascript" src="index.js"> </script> 
    <script type="text/javascript" src="lol-match/lol-match.js"> </script>
    <script type="text/javascript" src="recent-summoners/recent-summoners.js"></script>
    
    <link rel="stylesheet" type="text/css" href="index.css"> </link>
</head>
<body ng-app="MyTest">        
    <div ng-controller="TestController" layout="row" layout-padding>
        
        <!-- Your card List -->
        <div layout="column" layout-align="center center">
            <h3 class="md-title"> {{summonerInfo[summoner.toLowerCase()].name}} </h3>
        <div class="cardwindow">
            
<!--        Summoner selection list-->
        <div class="card" ng-hide="gameState > -1">
              <md-input-container>
                <label>Summoner Name</label>
                <input  placeholder="Yours" ng-model="summoner">
              </md-input-container>                                    
            <!-- show recent summoners you played against -->
            <recent-summoners></recent-summoners>
            
            <div layout="row" layout-align="center end">
            <md-select placeholder="Pick" ng-model="region">
                    <md-option value="euw">EUW</md-option>
                    <md-option value="na">NA</md-option>
            </md-select>
            <md-button ng-click="fetch_summonerInfo()" class="md-primary md-raised">Fetch List</md-button>
            </div>
        </div>
                
        <div ng-repeat="card in myCards track by $index">
            <lol-match> </lol-match>
        </div>
        </div> <!-- cardwindow end -->
        </div> <!-- left part end -->
        
        <!-- This is the Text Area Div -->
        <div class="infoArea" layout="column">           
            <h3 class="md-display-1 alignCenter" ng-show="gameState > 0"> Round: {{round+1}}/10 </h3>
            
            <div layout="row" layout-align="space-around center" width="100%;" ng-show="gameState > 0">
                <div ng-repeat="r in myRounds track by $index" 
                     ng-class="{circle:r == 0, redCircle:r == -1, greenCircle: r == 1, blueCircle:r == -2}"> 
                </div>
            </div>
            
            <div style="width:100%;">
                <span ng-show="gameState == 0">
                    Waiting for your partner.
                </span>
                            
                <h3 class="alignCenter md-display-2">
                    &nbsp; {{roundResult}}
                </h3>                     
                
                <div class="turnIndicator"> 
                    <span  ng-show="gameState == 1 || gameState == 3" 
                          style="float:left; width:100%;"> Your turn</span>
                    <span  ng-show="gameState == 2" style="float:right;">Opponent's turn</span>
                    
                    <img src="imgs/bluearrow.png" ng-show="gameState > 0"
                        ng-class="{leftArrow:gameState == 1, rightArrow:gameState == 2}"></img>        
                </div>           
            </div> 
<!--        <md-progress-circular ng-show="gameState==2" md-mode="indeterminate"></md-progress-circular>-->
        </div>
        
        <!-- opponent Area -->
        <div layout="column" layout-align="center center">
            <h3 class="md-title">{{enemy.name}}</h3>
        <!-- gameState == CONFIG.ROUND_RESULT then show the card and do animation of the stat etc.-->
        <div class="cardwindow" ng-show="gameState > -1">
            <!-- enemy card details shown during the result phase -->
            <div class="card" ng-show="gameState == 3 || gameState == 2"> 
               <center> 
                   <img ng-src="http://lkimg.zamimg.com/shared/riot/images/champions/{{enemyCard.ch}}.png"> </img> 
                </center>
               <div class="row heading">  {{ champData.keys[enemyCard.ch] }}  </div>
            
                <md-button id="enemyCard_v"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Result </div>
                <div> {{ enemyCard.v? "Victory" : "Defeat" }} </div>
                </md-button>

                <md-button id="enemyCard_k"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Kills </div>
                <div> {{enemyCard.k}} </div>
                </md-button>

                <md-button id="enemyCard_d"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Deaths </div>
                <div> {{enemyCard.d}} </div>
                </md-button>

                <md-button id="enemyCard_a"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Assists </div>
                <div> {{enemyCard.a}} </div>
                </md-button>

                <md-button id="enemyCard_tk"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Turrets </div>
                <div> {{enemyCard.tk}} </div>
                </md-button>

                <md-button id="enemyCard_time"
                           class="opponentSelection" ng-disabled="true">
                <div style="float:left;width:50%;text-align:left;"> Duration </div>
                <div> {{time_to_mins(enemyCard.time)}} Mins </div>
                </md-button>
                <md-progress-linear style="position:relative;" ng-show="gameState == 2" md-mode="indeterminate"></md-progress-linear>
            </div> <!-- end of enemy card details -->
        </div>
        </div>
        
    </div>
</body>
</html>
