
            <div class="card"> 
               <center> <img ng-src="http://lkimg.zamimg.com/shared/riot/images/champions/{{game.championId}}.png"> </img> </center>
               <div class="row heading">  {{ champData.keys[game.championId] }}  </div>
               <table width="100%">
                <tr ng-click="stat_selected || stat_clicked(1, $index)" ng-disabled="stat_selected">
                    <td> Result </td> <td>{{ game.stats.win? "Victory" : "Defeat" }}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(2, $index)" ng-disabled="stat_selected">
                    <td> Kills </td> <td>{{game.stats.championsKilled}}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(3, $index)" ng-disabled="stat_selected">
                    <td> Deaths </td> <td>{{game.stats.numDeaths}}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(4, $index)" ng-disabled="stat_selected">
                    <td> Assists </td> <td>{{game.stats.assists}}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(5, $index)" ng-disabled="stat_selected">
                    <td> Wards Placed </td> <td>{{game.stats.wardPlaced? game.stats.wardPlaced : 0}}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(6, $index)" ng-disabled="stat_selected">
                    <td> Turrets </td> <td>{{game.stats.turretsKilled? game.stats.turretsKilled : 0}}</td> 
                </tr>
                <tr ng-click="stat_selected || stat_clicked(7, $index)" ng-disabled="stat_selected">
                    <td> Duration </td> <td>{{time_to_mins(game.stats.timePlayed)}} Mins</td> 
                </tr>
               </table>
            </div>
