
            <div class="card" ng-show="round == $index"> 
               <center> 
                   <img ng-src="http://lkimg.zamimg.com/shared/riot/images/champions/{{card.ch}}.png"> </img> 
                    <br> {{round+1}} / 10
                </center>
               <div class="row heading">  {{ champData.keys[card.ch] }}  </div>
               <table width="100%">
                <tr ng-click="stat_clicked('v', $index)">
                    <td> Result </td> <td>{{ card.v? "Victory" : "Defeat" }}</td> 
                </tr>
                <tr ng-click="stat_clicked('k', $index)">
                    <td> Kills </td> <td>{{card.k}}</td> 
                </tr>
                <tr ng-click="stat_clicked('d', $index)">
                    <td> Deaths </td> <td>{{card.d}}</td> 
                </tr>
                <tr ng-click="stat_clicked('a', $index)">
                    <td> Assists </td> <td>{{card.a}}</td> 
                </tr>
<!--
                <tr ng-click="stat_clicked('wp', $index)">
                    <td> Wards Placed </td> <td>{{card.wp}}</td> 
                </tr>
-->
                <tr ng-click="stat_clicked('tk', $index)">
                    <td> Turrets </td> <td>{{card.tk}}</td> 
                </tr>
                <tr ng-click="stat_clicked('time', $index)">
                    <td> Duration </td> <td>{{time_to_mins(card.time)}} Mins</td> 
                </tr>
               </table>
            </div>
